<p id="notice"><%= notice %></p>

<h1>Listing Consumes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cost</th>
      <th>Kind</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consumes.each do |consume| %>
      <tr>
        <td><%= consume.name %></td>
        <td><%= consume.cost %></td>
        <td><%= consume.kind %></td>
        <td><%= link_to 'Show', consume %></td>
        <td><%= link_to 'Edit', edit__account_consume_path(consume) %></td>
        <td><%= link_to 'Destroy', consume, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consume', new_account_consume_path %>
